:root {
  --primary:  #c6daf8;
  --red:#c40101;
  --light: #F1F8FF;
  --dark: #0F172B;
}
p{
  font-size: 18px;
}
h3{
  font-size: 24px;
}
.academy{
  height: 100vh;
  overflow-y:auto;
  background-image: url('../image/service-bg.jpg');
  background-size: cover;

}

.section-title {
  position: relative;
  display: inline-block;
  font-size: 24px;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
 
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;

  color: #ffff;
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}


/*** course ***/
.course-item {
  height: 350px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: .5s;
  text-decoration: none;
  margin-bottom:2rem ;
}

.course-item:hover{
  transform: scale(1.1);
}

.course-item .course-icon {
  margin: 0 auto 30px auto;
  width: 65px;
  height: 65px;
  transition: .5s;
}

.course-item h4{

  cursor: pointer;

}
.course-item h4:hover{
  text-decoration:underline;
  
 
}

/* .course-item p{
  font-size:20px;
} */


.course-item i,
.course-item h3,
.course-item p {
  transition: .5s;
}



@media (max-width: 768px){
  .academy{
    height: 100vh;
    overflow-y:auto;
  }
 
  
}

/***bootcamp***/
i{
  font-size: 24px;
}
.bootcamp{
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100%;
  background: #FFFFFF;
}
.bootcamp_bg {
  position: relative;
  background-image: url('../image/bootcamp_bg2.jpeg');
  background-size: cover;
  height: 50vh;
  color: #FFFFFF;
  border-radius: 10px;
}

.bootcamp_bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Adjust the opacity (last parameter) as needed */
  border-radius: 10px;
}

.bootcamp_bg h1, .bootcamp_bg h2 {
  position: relative;
  z-index: 4;
}
@media (max-width: 768px){
  .bootcamp_bg h1{
    font-size:28px;
    font-weight: 900;
  }
  .bootcamp_bg h2{
    font-size:20px;
    font-weight: 500;
  }

}
img{
  height:240px;
  
}
.content_1 h3{
 
  font-size: 40px;
}
.content_1 p{
  font-size: 24px;
}
@media (max-width: 768px){

  .content_1 h3{
    font-size: 22px;
  }
  .content_1 p{
    font-size: 20px;
  }
}

.Benefits {
  height: 350px;
  width:90%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: .5s;
  text-decoration: none;
  margin-bottom:2rem ;
  margin-left: 20px;
  border-radius: 10px;
}


.Benefits p{
  font-size: 18px;
}
.Benefits h3{
  font-size: 24px;
}





/* bug bounty hunter*/
.bug-bounty-hunter{
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: #FFFFFF;
  width: 100%;
}
.bug-bounty-hunter .Benefits {
  height: 450px;
  width:90%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: .5s;
  text-decoration: none;
  margin-bottom:2rem ;
  border-radius: 10px;
 
  

}

.bug-bounty-hunter .Benefits h3{
  font-size: 24px;

}
.bug-bounty-hunter  h4{
  font-size: 24px;

}


.bug-bounty-hunter .content_1 .Benefits{
  height: 350px;
}


@media (max-width: 768px){
  .bug-bounty-hunter .Benefits h3{
    font-size: 24px;
  }
  .bug-bounty-hunter  h4{
    font-size: 20px;
  
  }
  .bug-bounty-hunter .Benefits p{
    font-size: 16px;
  }
}
.bug-bounty-hunter_bg{
  position: relative;
  background-image: url('../image/bootcamp_bg2.jpeg');
  background-size: cover;
  height: 50vh;
  color: #FFFFFF;
  border-radius: 10px;
} 
.bug-bounty-hunter_bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.bug-bounty-hunter_bg h1, .bug-bounty-hunter_bg h2 {
  position: relative;
  z-index: 4;
}


.pp-topic{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.pentesting-professional{
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100%;
  background: #FFFFFF;
}

.pentesting-professional img{
  width: 100%;
}


.pentesting-professional ul li{
 list-style: square;
  font-size: 24px;
  
  
}
.pentesting-professional_bg{
  position: relative;
  background-image: url('../image/bootcamp_bg2.jpeg');
  background-size: contain;
  height: 50vh;
  color: #FFFFFF;
  border-radius: 10px;
} 
.pentesting-professional_bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px; 
}

.pentesting-professional_bg h1, .pentesting-professional_bg h2 {
  position: relative;
  z-index: 4;
}
.pentesting-professional img{
  display: block;
}
.pentesting-professional h3{
  font-size: 24px;
}
@media (max-width: 768px){
  .pentesting-professional h1 span{
    font-size: 20px;
  }
  .pentesting-professional ul li{
    font-size: 18px;
  }
  .pentesting-professional h3{
    font-size: 20px;
  }

  .pentesting-professional img{
    display: none;
  }
 
 
}
.whatsapp-logo{
  width: 100%;}

  

.whatsapp-logo a img{
  float: right;
  width:60px;
  border-radius: 50px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
@media (max-width: 768px){
  .whatsapp-logo a img{
    float: right;
    width: 50px;
    height: 50px;
  
  }
}