* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper{

    height:100vh;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
        
}

.service-container {    
    
    padding: 0 100px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    width:82% ;
    margin: 80px 0 50px 130px;
    height: 78vh;
    padding: 50px;
    background: url('../image/service-2.jpg');
    background-size: cover;
    box-shadow: 0px 5px 15px rgb(136, 136, 136);
        
}


.Main{
    
    color:#000000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:500;   
    position: relative;
    bottom:40px;
    font-size: 30px;
   
}

.service-box {
    
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width:82% ;
    margin: 50px 0 50px 130px;
    padding: 50px;
    background: rgba(255, 253, 253, 0.989);
    box-shadow: 0px 5px 15px rgb(136, 136, 136);
    line-height: 2rem;
    
}


.box4{

    border-radius: 30px;
    align-items: center;
    width:100%;
    margin: 30px 0 0 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.132);
    box-shadow: 0px 5px 15px rgb(250, 249, 249);
    line-height: 2rem;

}

.service-box h1{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 20px;
    font-size: 33px;
    font-weight: 300;
    text-transform: uppercase;
    color: #000000;
}

.service-box h2{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 20px;
    font-weight: 300;
    font-size: 34px;
    text-transform: uppercase;
    color: #000000;
}

.service-box p{
    
    font-size: 20px;
    padding: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #260000;
}

.service-box p span{
    color:#c40101;
    font-size: 28px;

}

.service-box a{
    color:#c40101;
}


  @media screen and (max-width: 768px) {

    .wrapper{
        width:100%;
        overflow-x:hidden;
       
    }

    .service-container{
        position: relative;
        right:90px;
        width:80%;
        height:50%;
    }

    .Main {
        font-size: 3.3vw;
        /* Adjust font size for smaller screens */
    }

    .service-box h1,
    .service-box h2 {
        font-size: 5vw; 
        /* Adjust font size for smaller screens */
    }

    .service-box p span{
        font-size: 5vw; /* Adjust font size for smaller screens */
        padding: 1vw;
    }

    .service-box p,
    .service-box h4 {
        font-size: 4vw; /* Adjust font size for smaller screens */
        padding: 4vw; /* Adjust padding for smaller screens */
    }

    .service-box,
    .box4 {
        position: relative;
        padding: 4vw;
        width:80%;
        right:95px; /*Adjust padding for smaller screens */
    }
}

.whatsapp-logo{
    width: 100%;}
    .pentesting-professional img{
      display: none;
    }
   
    
  
  .whatsapp-logo a img{
    float: right;
    width:50px;
    border-radius: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 35px;
    z-index: 9999;
  }
  @media (max-width: 768px){
    .whatsapp-logo a img{
      float: right;
      width: 50px;
      height: 50px;
    
    }
  }